<?php

$config = [];

// auto show the folder size without clicking on the toolbar button
// this could be a serious performance penalty if there are many users
$config['auto_show_folder_size'] = false;

// show mailbox options button
$config['show_mailboxoptions_button'] = true;

// show the toolbar button
$config['show_toolbar_button'] = true;
