#mailboxlist li > a[rel]:after {
  content: attr(data-folder-size);
  padding-left: .5em
}
#messagetoolbar a.show-folder-size {
  background-image: url(images/capacity.png);
  background-position: center top;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden
}