#show-folder-size-table .path-separator {
  margin: 0 .4em;
  display: inline-block
}
#show-folder-size-table .path-separator:after {
  content: '/'
}
#messagetoolbar a.show-folder-size {
  background-image: url(images/capacity.png);
  background-position: center top;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden
}