#show-folder-size-table .path-separator {
  margin: 0 .4em;
  display: inline-block
}
#show-folder-size-table .path-separator:after {
  content: '/'
}
.menu a.show-folder-size:before,
.toolbar a.show-folder-size:before,
.toolbarmenu li a.show-folder-size:before {
  content: '\f200'
}